/*------Background Color-----*/
/*----- Font --------*/

/*------Background Color-----*/
/*----- Font --------*/
body {
  background-color: #cccccc;
}
a,
li,
p {
  font-size: 26px;
  color: #FFFFFF;
}
a {
  text-decoration: none;
}
.example-menu {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  overflow: hidden;
  height: 41px;
}
.example-menu a {
  float: left;
}
.example-menu a:hover {
  background-color: #ccc;
}
.example-menu li a {
  padding: 5px 20px;
}
.example-menu li a.hamburger {
  padding: 0 20px;
}

/*------Background Color-----*/
/*----- Font --------*/
.rga-responsive-menu-plugin .hamburger {
  float: right;
  cursor: pointer;
}
.rga-responsive-menu-plugin .hamburger img {
  width: 100%;
  height: auto;
}
.rga-responsive-menu-plugin .hamburger-menu ul {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.rga-responsive-menu-plugin .hamburger-menu {
  display: none;
}
